@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    transition: background 0.2s ease-in-out;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

body {
    background: #000c00;
    color: #ffffff;
}

.num {
    writing-mode: horizontal-tb;
    text-orientation: upright;
}

h1 {
    font-size: 4rem;
    padding: 5px;
}

.hw-container {
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 5px;
}

.hw-text {
    overflow-wrap: break-word;
}

input {
    color: #000;
    font-size: 1.5rem;
}

button {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    background: #003c00;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background 0.2s ease, color 0.2s ease;
    padding: 7px 2px;
}

button:hover {
    background: #ffffff;
    color: #003c00;
}

.unbold {
    font-weight: unset;
}

.num.unbold {
    text-align: center;
}

br {
    line-height: 0;
}

.bottom-left-buttons {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 0.8rem;
}

.bottom-left-buttons button {
    font-size: 1.6rem;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    background: #00000060;
    transition: opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    writing-mode: horizontal-tb;
}

.modal * {
    writing-mode: horizontal-tb;
    font-size: 1.5rem
}

.content {
    background: #cccccc;
    color: #000 !important;
    max-width: 230px;
    margin: 5px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    pointer-events: none;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal.show .content {
    pointer-events: auto;
}

.modal .content button {
    padding: 2px 7px;
}

.input-container {
    margin: 5px;
    padding: 7px;
    display: flex;
    gap: 10px;
    height: min-content;
    border-radius: 5px;
    background: #003c003c;
}

.hw button {
    margin-top: 10px;
}

.input-options {
    margin-top: 10px;
}

.cancel-btn {
    background: #3c0000;
    color: #fff;
}

.color {
    border: 7px #003c00 solid;
    border-radius: 4px;
    background-color: #003c00;
    width: 2.5rem;
    height: 2.5rem;
}

.option-list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.close {
    margin: 5px;
}

.out {
    font-size: 1.2rem;
    padding: 2px 7px;
}

.fast-enter input[type="number"] {
    width: 50px;
    text-align: left;
}

.fast-enter .content div,
.fast-enter .content button {
    margin: 2px;
}

.fast-enter input[type="text"],
.account input[type="email"],
.account input[type="password"] {
    width: 100%;
}

.option-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.option-display div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.option-display div b {
    margin-bottom: 3.6px;
}

input[type="checkbox"] {
    width: 1.3rem;
    height: 1.3rem;
}

.options.modal h1 {
    font-size: 2rem;
}

.more-info-button,
.more-info-button:hover {
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 0 0 4px 0 !important;
    color: #2b2b2b;
}

.more-info-button:hover {
    color: #000 !important;
}

.option-display .more-info-button {
    margin-left: -5px;
    transform: scale(0.7);
}

.escape-char-cheatsheet .content,
.edit-fast-enter .content {
    max-width: 50%;
}

details summary {
    font-size: 2rem;
}

details {
    font-size: 1rem !important;
}

.not-upright-text {
    text-orientation: initial;
}

.tweak-for-display {
    font-size: inherit;
    writing-mode: horizontal-tb !important;
}

.highlighted {
    background-color: #ff0;
    color: #000;
    writing-mode: vertical-rl;
}

.ununbold {
    font-weight: bolder !important;
    writing-mode: vertical-rl;
}

.edit-fast-enter .content {
    align-items: center;
}

.efe-container {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.efe-container input {
    width: 10rem;
}

.today {
    font-size: 4rem;
}

.option-display input[type="range"] {
    width: 100%;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: #003c00;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.4s ease;
}

.loading-screen h1 {
    writing-mode: horizontal-tb;
    height: 30%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.loading-screen img {
    width: 6rem;
    margin-top: 10px;
}

#uid-display {
    font-size: 0.7rem;
}

.alert-modal * {
    font-size: 1.3rem;
}

.alert-modal pre,
.user-id-list pre {
    font-size: 0.85rem !important;
    font-family: "Source Code Pro", monospace;
    background-color: #00000020;
    border-radius: 2px;
    margin: 3px;
}

.warning {
    font-size: 0.85rem !important;
}

.cloud-hw-list .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.history .content, .welcome .content {
    max-width: 35%;
    align-items: center;
    justify-content: center;
}

.beta {
    position: relative;
}

.beta>.unbold::before {
    content: 'BETA';
    background: #004c00;
    color: #fff;
    font-weight: 800;
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 0.6rem;
    position: absolute;
    top: -2px;
    right: -15px;
    writing-mode: horizontal-tb !important;
    transition: top 0.35s ease;
}

.beta:hover>.unbold::before {
    top: -15px;
}

.user-id-list div {
    display: flex;
    align-items: center;
    gap: 3px;
}

.user-id-list div pre {
    width: 100%;
}

.loading-modal {
    z-index: 1000;
}

.loading-modal .content {
    width: unset;
}

.loading-modal img {
    animation: rotate 0.7s ease infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.red {
    color: #f00;
}

textarea#ai-prompt {
    font-size: 1rem;
    resize: vertical;
}

.send-ai-prompt,
.send-ai-prompt-without-history {
    font-size: 1rem;
    margin: 3px;
}

.history-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
}

.action {
    width: 100%;
    background: #000a00;
    color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}

.action-actions {
    display: flex;
    gap: 5px;
}

.action-type {
    padding: 2px 7px;
    border-radius: 4px;
}

.action .text {
    max-height: 2.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.action-type.ai {
    background: #88ffff33;
    color: #319797;
    font-family: "Source Code Pro", monospace;
    letter-spacing: -4px;
}

.action-type.delete {
    background: #ff888833;
    color: #973131;
}

.action-type.write {
    background: #88ff8833;
    color: #319731;
}

.action-type.update {
    background: #ffff8833;
    color: #979731;
}